body {
	margin: 0px 0px 0px 0px;
	background-color: #EFEFEF;
	font-family: calibri;
}

#main {
	position: fixed;
	margin: 0px 0px 0px 0px;
	top: 0%;
	right: 20%;
	bottom: 0%;
	left: 0%;
}

#panel {
	position: fixed;
	margin: 0px 0px 0px 0px;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 80%;
	background-color: #FFFFFF;
}

#simulatebutton {
	position: fixed;
	margin: 0px 0px 0px 0px;
	top: 80%;
	right: 0%;
	bottom: 10%;
	left: 80%;
	background-color: #00FF00;

	text-align: center;
}

#evacuatebutton {
	position: fixed;
	margin: 0px 0px 0px 0px;
	top: 90%;
	right: 0%;
	bottom: 0%;
	left: 80%;
	background-color: #FF0000;
	
	text-align: center;
}

#canvasControls{
	padding-top: 20px;
}