body {
	font-family: calibri;
}

td {
	padding: 0;
}

#main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 280px;
	overflow: scroll;
	background-color: #EEEEEE;
}

#mainCanvas {
	height: 300;
	width: 300;
	margin: 10px;
	background-color: white;
}

#panelToggle {
	position: absolute;
	width: 30px;
	top: 0;
	bottom: 0;
	right: 250px;
	float: right;
	padding: 4px;
	text-align: center;
	font-weight: bold;
	border-left: 1px solid black;
	/*border-right: 2px solid black;*/
	background-color: ghostwhite;
}

#toggleinner {
	position: absolute;
	top: 50%;
}

#panel {
	position: absolute;
	width: 250px;
	top: 0;
	bottom: 0;
	right: 0;
	float: right;
	background-color: ghostwhite;
}

#simulationButtons {
	padding: 4px;
	text-align: center;
	/*border-bottom: 1px solid black;*/
}

#generalControls {
	padding: 4px;
	/*border-bottom: 1px solid black;*/
	text-align: center;
}

#specificControls {
	padding: 4px;
	/*border-bottom: 1px solid black;*/
	text-align: center;
}

#dragItems {
	padding: 8px;
	/*border-bottom: 1px solid black;*/
}

.optionToggle {
	padding: 8px;
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
	background-color: ghostwhite;
}
